.logo {
	width: 300px;
	height: 70px;
	margin: 20px auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo_background {
	background-color: rgb(0, 83, 138);
	transition: 2s;
}

.logo__text {
	color: white;
	font-size: 50px;
	position: relative;
	text-transform: uppercase;
	text-align: center;
}

.task{
	width: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.task:hover{
	overflow: visible;
}

.task:nth-child(3n) {
	color: grey;
	background-color: #0FC57C;
}

.task-complete {
	text-decoration: line-through;
}